.about-container {
    display: flex;
    flex-direction: column; /* Empilha o conteúdo verticalmente por padrão */
        
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.about-container h1 {
    margin-top: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    
    font-size: 1.7rem;
    color: white;
}

.about-container h2 {
    color: var(--green-300);
    font-size: 2rem;
}

.about-container img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 25px;
    width: 800px;
}

.about-container p {
    margin-top: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 1.3rem;
    color: white;	
}

@media (max-width: 1300px) {

    .about-container img {
        width: 650px;
    }

}

@media (max-width: 1150px) {
    .about-container h1 {
        font-size: 1.3rem;
        margin-top: 1.5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .about-container p {
        font-size: 1rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .about-container h1 {
        font-size: 1.5rem;
    }

    .about-container h2 {
        font-size: 2rem;
    }

    .about-container img {
        width: 500px;
        border-radius: 10px;
    }
}

@media (max-width: 800px) {
    .about-container h1 {
        font-size: 1.1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .about-container img {
        width: 450px;
        border-radius: 10px;
    }

    .about-container p {
        margin-top: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem
    }
}

@media( max-width: 700px) {
    .about-container img {
        width: 500px;
    }
}

@media (max-width: 650px) {
    .about-container img {
        width: 400px;
    }
}

@media (max-width: 500px) {

    .about-container h1 {
        font-size: 1.3rem;
    }

    .about-container h2 {
        font-size: 1.5rem;
    }

    .about-container img {
        width: 240px;
        border-radius: 10px;
    }
}